#ch{
    line-height: 1.8;
}


#chl{
    width: 13px;
    height: 13px;
    padding: 0;
    margin-left: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

#chr{
    display: block;
    padding-left: 15px;
    
}
#newemployee{
    display: flex;
    justify-content: center;
}
#newemployee .headform{
    margin-left: unset;
    margin-right: unset;
    border-radius: 5px 0px 0px 5px;
}
#checkboxes{
    width: 35%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: #f2f2f2;
    padding: 20px;
}
#checkboxes .form-con{
    /* width: 100%;
    text-align: center; */
}
#checkboxes #checkbox-container{

}
#checkboxes #checkbox-container label{
    white-space: pre;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
#checkboxes #checkbox-container input[type="checkbox"]{
    margin-left: 15px;
}