.App{
  height: 100%;
  background: url(./full.png);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
 
  background-repeat: no-repeat;
  background-size: cover;
  filter:blur(1px);
  -webkit-filter: blur();
}